<section>
  <div class="spacer">
    <div class="container">
      <div class="row mt-5">
        <div class="col-lg-9">
          <div class="row shop-listing">
            <div class="col-lg-4" *ngFor="let product of products">
              <div class="card shop-hover border-0">
                <img [src]="'http://localhost:5000/' + product.image" alt="wrapkit" class="img-fluid" />
                <div class="card-img-overlay align-items-center">
                  <button class="btn btn-md btn-info" (click)="_addItemToCart(product._id, 1)">Add to Cart</button>
                </div>
              </div>
              <div class="card border-0">
                <h6>
                  <a href="#" class="link">{{ product.name }}</a>
                </h6>
                <h6 class="subtitle">by Wisdom</h6>
                <h5 class="font-medium m-b-30">
                  ${{product.price}}
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
